**/*.rs.bk
*.beam
*.dump
*.egg-info/
*.eld
*.ez
*.last
*.org
*.swp
*.tar
*custom.el
*~
,*
.fetch/
.idea/
.vscode/
.~lock.*
__pycache__/
_build/
auto-save-list/
build/
cover/
deps/
dist/
elpa/
recentf
smex-items
snippets/
target/
transient/
